@inherits System.Web.Mvc.WebViewPage<GameDashboardVM>
@using Palooza.Net.Models.ViewModels
@using System.Web.Mvc


@if (Model.Game.GameID > 0) {
    <div class="players">
        <h1>Players</h1>
        <div class="button" title="Add player" id="Add_Player">+</div>
        <div class="button" title="Add a few players" id="Add_Players">+<sup>+</sup></div>
        <ul>
            @foreach (var player in Model.Players.List)
            {
                <li class='paidx-@player.BuyinCount boosted-@player.Boosted' data-id='@player.Detail.PlayerID' data-gameplayerid='@player.GamePlayerID' data-name='@player.Detail.FirstName @player.Detail.LastName'>
                    <span>@player.Detail.FirstName</span>
                    @for (int i = player.BuyinCount; i > 1; i--)
                    {
                        <div class='rebuy'>
                            &#9736;
                        </div>
                    }
                    @if (player.Boosted)
                    {
                        <div class='boost'>
                            &#8673;
                        </div>
                    }

                    <div class="placing">@player.Placing</div><div class="clear"></div>

                    <div class="player-menu hidden">
                        <div>
                            <h2></h2>
                            @if (player.BuyinCount > 0)
                            { 
                                <div class="button rebuy">Rebuy</div>
                                @if (!player.Boosted)
                                {
                                    <div class="button boost">Boost</div>
                                }
                                @if (String.IsNullOrEmpty(player.Placing))
                                {
                                    <div class="button place">Place</div>
                                }
                                <div class="button disabled" title="this feature is under construction" id="Button_Refund">Refund</div>
                            } else {
                            <div class="button buy-in">Buy In</div>
                            <div class="button remove-player">Remove</div>
                            }
                            @if (Model.Game.GameID > 0) {
                                <div class="button player-menu-collapse">Close</div>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
}

